<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haust.design.mapper.AdminMapper">


    <select id="exist" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM admin
        WHERE account = #{account}
    </select>


    <insert id="insert" parameterType="admin">
        INSERT INTO admin (avatar_url,nickname,account,password,created_time,updated_time)
        VALUES (#{avatarUrl},#{nickName},#{account},#{password},#{createTime},#{updateTime})
    </insert>

    <select id="findByAccount" resultType="admin">
        SELECT * FROM admin WHERE account=#{account}
    </select>

</mapper>