<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haust.design.mapper.AdminMapper">



    <select id="exist" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM admin
        WHERE account = #{account}
    </select>


    <insert id="insert" parameterType="admin">
        INSERT INTO admin (avatar_url,nickname,account,password,created_time,updated_time,email)
        VALUES (#{avatarUrl},#{nickName},#{account},#{password},#{createdTime},#{updatedTime},#{email})
    </insert>

    <select id="findByAccount" resultType="admin">
        SELECT * FROM admin WHERE account=#{account}
    </select>


    <update id="updateNickname">
        UPDATE admin SET nickname = #{nickname},updated_time=now()
        WHERE id=#{id}
    </update>

    <update id="updateAvatarUrl">
        UPDATE admin SET avatar_url = #{avatarUrl},updated_time=now()
        WHERE id=#{id}
    </update>

    <update id="updatePassword">
        UPDATE admin SET password = #{password},updated_time=now()
        WHERE id=#{id}
    </update>
    <update id="updateNicknameAndEmail">
        UPDATE admin
        SET nickname = #{nickname},updated_time=now(),email=#{email}
        WHERE id=#{id}
    </update>

    <select id="findById" resultType="admin">
        SELECT * FROM admin WHERE id=#{id}
    </select>

</mapper>