<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haust.design.mapper.ConcertMapper">


    <select id="exist" resultType="java.lang.Boolean">
        SELECT COUNT(*) > 0
        FROM concert
        WHERE name=#{name}
    </select>

    <insert id="insert" parameterType="concert" keyProperty="id" useGeneratedKeys="true">
        INSERT concert (name, address_id, detailed_location, start_time, category_id, performers, price, stock, cover_image_url)
        VALUES (#{name},#{addressId},#{detailedLocation},#{startTime},#{categoryId},#{performers},#{price},#{stock},#{coverImageUrl})
    </insert>

    <select id="selectAll" resultType="concert">
        SELECT *
        FROM concert
    </select>

    <select id="getProjectDetailsByConcertId" resultType="java.lang.String">
        SELECT project_details
        FROM concert_detail
        WHERE concert_id = #{concertId}
    </select>

    <select id="getTicketInfoByConcertId" resultType="java.lang.String">
        SELECT ticket_info
        FROM concert_detail
        WHERE concert_id = #{concertId}
    </select>

    <select id="getViewInfoByConcertId" resultType="java.lang.String">
        SELECT viewing_info
        FROM concert_detail
        WHERE concert_id = #{concertId}
    </select>

    <select id="searchConcertByName" resultType="com.haust.design.entity.Concert">
        SELECT *
        FROM concert
        WHERE name LIKE CONCAT('%', #{concertName}, '%')
    </select>

    <select id="searchConcertByPerformer" resultType="com.haust.design.entity.Concert">
        SELECT *
        FROM concert
        WHERE performers LIKE CONCAT('%', #{performer}, '%')
    </select>

    <select id="searchConcertByAddressAndCategory" resultType="com.haust.design.entity.Concert">
        SELECT *
        FROM concert
        WHERE 1=1
        <if test="addressId != null and addressId != ''">
            AND address_id = #{addressId}
        </if>
        <if test="categoryId != null">
            AND category_id = #{categoryId}
        </if>
    </select>

    <update id="updateConcertByConcertId">
        UPDATE concert
        SET name = #{newConcert.name},address_id = #{newConcert.addressId},detailed_location = #{newConcert.detailedLocation},
            start_time = #{newConcert.startTime},category_id = #{newConcert.categoryId},performers = #{newConcert.performers},
            price = #{newConcert.price},stock = #{newConcert.stock},cover_image_url = #{newConcert.coverImageUrl}
        WHERE id = #{concertId}
    </update>


    <delete id="deleteConcert">
        DELETE FROM concert
        WHERE id = #{concertId}
    </delete>


</mapper>