<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haust.design.mapper.ConcertDetailMapper">



    <insert id="insertById">
        INSERT INTO concert_detail (concert_id, project_details, ticket_info, viewing_info)
        VALUES (#{concertId},#{projectDetails},#{ticketInfo},#{viewingInfo})
    </insert>
    <select id="exist" resultType="java.lang.Boolean">
        SELECT COUNT(*) > 0
        FROM concert_detail
        WHERE concert_id = #{concertId}
    </select>


    <update id="concertDetail" parameterType="concertDetail">
        UPDATE concert_detail
        SET
        <if test="projectDetails != null and projectDetails != ''">
            project_details = #{projectDetails}
        </if>
        <if test="ticketInfo != null and ticketInfo != ''">
            ticket_info = #{ticketInfo}
        </if>
        <if test="viewingInfo != null and viewingInfo != ''">
            viewing_info = #{viewingInfo}
        </if>
        WHERE concert_id = #{concertId}
    </update>


    <delete id="deleteConcertDetail">
        DELETE FROM concert_detail
        WHERE concert_id = #{concertId}
    </delete>

    <select id="getAllDetailsByConcertId" resultType="com.haust.design.entity.ConcertDetail">
        SELECT *
        FROM concert_detail
        WHERE concert_id=#{concertId}
    </select>

    <update id="updateDetailsById" parameterType="concertDetail">
        UPDATE concert_detail
        SET project_details = #{projectDetails},ticket_info=#{ticketInfo},viewing_info=#{viewingInfo}
        WHERE concert_id=#{concertId}
    </update>
</mapper>